<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<select id="list" resultType="com.company.spring.product.ProductVO">
		SELECT pidx, pname, pprice, pinfo, pimage
		FROM product_tb
		ORDER BY pidx desc
	</select>
	<select id="info" resultType="com.company.spring.product.ProductVO">
		SELECT pidx, pname, pprice, pinfo, pimage
		FROM product_tb
		WHERE pidx = #{pidx}
	</select>
</mapper>