<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	<!-- 회원 리스트 -->
	<select id="memberList" resultType="com.company.spring.member.MemberVO" parameterType="com.company.spring.utils.CriteriaAdmin">
	select @rownum := @rownum + 1, midx, mid, mmail, mname, menter, mvalue
		from( select @rownum := 0, midx, mid, mmail, mname, menter, mvalue, 
			row_number() over(order by midx desc) as rNum
		    from member_tb
		    ) ml
		 where rNum between #{rowStart} and #{rowEnd}
		 order by midx desc;
	</select>
	<!-- 회원 강퇴 -->
	<update id="memberDrop">
		UPDATE member_tb
		SET mvalue = 'n'
		WHERE mid=#{mid}
	</update>
	<select id="countMember" resultType="int">
		SELECT count(midx)
		FROM member_tb
		where midx
	</select>
	
	<!-- 게시물 리스트 -->
	<select id="boardList" resultType="com.company.spring.board.BoardVO" parameterType="com.company.spring.utils.CriteriaAdmin">
	select @rownum := @rownum + 1, bidx, bwriter, btitle, bcontent, bdate, bvalue
		from( select @rownum := 0, bidx, bwriter, btitle, bcontent, bdate, bvalue, 
			row_number() over(order by bidx desc) as rNum
		    from board_tb
		    ) bl
		 where rNum between #{rowStart} and #{rowEnd}
		 order by bidx desc;
	</select>
	<select id="countBoard" resultType="int">
		SELECT count(bidx)
		FROM board_tb
		where bidx
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="replyList" resultType="com.company.spring.reply.ReplyVO" parameterType="com.company.spring.utils.CriteriaAdmin">
	select @rownum := @rownum + 1, ridx, rcontent, rwriter, rdate, rvalue
		from( select @rownum := 0, ridx, rcontent, rwriter, rdate, rvalue,
			row_number() over(order by ridx desc) as rNum
		    from reply_tb
		    ) rl
		 where rNum between #{rowStart} and #{rowEnd}
		 order by ridx desc;
	</select>
	<select id="countReply" resultType="int">
		SELECT count(ridx)
		FROM reply_tb
		where ridx
	</select>
	<!-- 댓글 삭제 -->
	<update id="replyDelete">
		UPDATE reply_tb
		SET rvalue = 'n'
		WHERE ridx = #{ridx}
	</update>
	
	<!-- 상품 업로드 -->
	<insert id="upload">
		INSERT INTO product_tb
			(pidx, pname, pprice, pinfo, pimage, pthumbimg)
		VALUES (#{pidx}, #{pname}, #{pprice}, #{pinfo}, #{pimage}, #{pthumbimg})	
	</insert>
	<!-- 상품 수정 페이지 -->
	<select id="modify" resultType="com.company.spring.product.ProductVO">
		SELECT *
		FROM product_tb
		WHERE pidx = #{pidx}
	</select>
	<!-- 상품 수정 -->
	<update id="productModify">
		UPDATE product_tb
		SET pname=#{pname}, pprice=#{pprice}, pinfo=#{pinfo}, pimage=#{pimage}, pthumbimg=#{pthumbimg}
		WHERE pidx = #{pidx}
	</update>
	<!-- 상품 삭제 -->
	<delete id="productDelete">
		DELETE 
		FROM product_tb
		WHERE pidx = #{pidx}
	</delete>
</mapper>